/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 may. 2022, 23:48:55
    Author     : Diana Jiménez
*/


/*content-box: toma en cuenta contenido,border y padding para el calculo de la caja sumativa
  border-box: modifica valores de contenido para que coincida con nuestro ancho y alto. 
*/

/*Se le añaden propiedades al div*/
.block{
    background-color: pink;
    width: 200px;    /*Ancho */
    height: 200px;   /*Altura*/
    padding: 50px;
    border: 5px solid blueviolet;
    box-sizing: border-box;
    margin: auto;
}

.static {               /*No se ve afectado por las caracteristicas*/
    position:static;
    border:3px solid green;
    top:400px;
    left:50px; 
}


.relative {                  /*Se ajusta a la página*/
    position:relative;
    border:3px solid green;
    top:400px;
    left:50px; 
    width:400px;
    height:500px;
}

.fixed {            /*Se ve afectado, si muevo la página se queda fijo, según el usuario esté viendo la pag*/
    position:fixed;
    border:3px solid green;
    top:150px;
    left:50px; 
}


.absolute {                  /**/
    position:absolute;
    border:3px solid green;
    top:80px;
    left:50px; 
    width:200px;
    height:100px;
}

